thesis.aux
thesis.fls
thesis.log
thesis.pyg
thesis.synvtex..gz
thesis.fdb_latexmk
thesis.synctex.gz

notes.aux
notes.fdb_latexmk
notes.fls
notes.log
notes.synctex

outline.aux
outline.log
outline.fdb_latexmk
outline.bbl
outline.blg
outline.fls
outline.synctex